# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.idea

.DS_Store
_extensions

# Ignore the text of the conspect
*.rtf

# Eclipse JDTLS
bin/
.classpath
.project
.settings/
